/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --Navigation Menu-- */
nav{
    position: fixed;
    border-color: red;
    width: 100%;
    /* padding: 20px 0; */
    font-family: sans-serif;
}
nav .navbar{
    border-color: rgb(4, 255, 0);
    /* width:90%;
    margin: auto; */
    display: flex;
    align-items:center;
    justify-content: space-between;
}
/* nav .navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: #4070F4;
}
nav .navbar .menu{
    display: flex;

}
nav .navbar .menu li{
    margin: 0 8px;
    list-style:none;
} */